*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4b4a32;
    background-image: url(../img/coffee-pattern.jpg);
    background-repeat: repeat;
    
    
}
.grid-container{    
    display: grid;          
    background-color: beige;
    background-repeat:space;
    grid-template-areas: 
    "header header "
    "main  aside "
    "footer  footer ";
    grid-template-rows: .5fr 3fr auto auto;  
    grid-template-columns: 2fr 1fr; 
    
}
.grid-header{
    grid-area: header;   
}
.grid-main{
    display: flex;    
    grid-area: main;
    justify-content: center;
    
}
.grid-footer{
    grid-area: footer;
}
.grid-aside{
    display: flex;
    grid-area: aside;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


header{
    display: flex;
    align-items: center;   
    color: rgb(216, 216, 189);
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);    
}
header h1{
    font-family: 'Gruppo', sans-serif;
    font-size: 3rem;
    padding: 10px;    
}
header h2{
    margin: 20px;
}
header h1 a{
    text-decoration: none;
}
header h1 a:visited{

    color: rgb(216, 216, 189);
}
header h2{
    padding: 10px;
    font-style: oblique;
}
.navbar {
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);    
    display: flex;
    padding: 5px;
    justify-content: flex-end;
}
  
.navbar-list {
    list-style-type: none;
    display: flex;
        
}
.navbar-list li {
    margin: 0 10px;
    padding: 20px;
    font-size: 1.1rem;
}
  
.navbar-list li a {
    margin: 5px;
    padding: 1rem;
    text-decoration: none;
    color: rgb(216, 216, 189);
    font-size: 1.2rem;
}
.navbar-list li a:hover{
    color: black;
    background-color: beige;
    border-radius: 20px;
}
header img{
    width: 100px;
    
}
header{
    text-align: center;
    align-items: center;
}
span{
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 20px;
}
  
main h2{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
main{
    margin-top: 60px;
    
    
}

.subtitulo{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3rem;
    padding-top: 10px;
    
}
    
h4{
    text-align: center;
}
footer{
    height: 90%;
    margin-top: 50px;
}

.fondopie{
   
    font-size: 1.5rem;
    color: rgb(216, 216, 189);
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.aboutUs{
    border-style:double;
    font-size: 2.5rem;
    margin: 10px;
    padding: 10px;
    
    
}
.aboutUs a{
    text-decoration: none;
}
.aboutUs a:visited{
    color: black;
}

.videoFrame{
    padding: 50px;
    
    
}
.campoForm{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    margin: 10px;
}
.campoTexto{
    text-align: left;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 100px;
}

input{
    width: 300px;
    height: 30px;
}
.inputButton{
    margin-top: 30px;
    width: 100px;
    margin-left: 20px;
   
}

fieldset{
    background-color: #c28a22;
    padding-top: 10px;
    border-style: double;
    height: 50vh;
     
    
}
.masVendidos{
    display: flex;
}
.masVendidos .alineado h3{
    text-align:center;
    font-style: oblique;
}
.masVendidos img{
    width: 550px;
}

.contenedor{
    display: flex;
    flex-wrap:wrap;
}
.contenedor img{
    width: 450px;
    padding-block: 20px;
    margin-inline: .8rem;
}
.contact{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-inline: 50px;
    
}
.relleno{
    display: flex;
    height: 500px;
    width: 500px;
    opacity: .95;
}
.contUs{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contUs img{
    padding-block: 15px;
}


main .productos{
    
    display: flex;
    flex-wrap: wrap; 
    
}
.alineado{
    width: 50%;
    padding: 10px;
}
main .productos img{
    width: 250px;
    padding: 20px;    
}
.producto h3{
    text-align: center;
    font-style: oblique;
}

footer{
    display: flex;
    border-top: 5px solid brown;
          
}

.fondopie {
    display: flex;
    justify-content: center;
    align-items: center;    
}
form{
    display: flex;
    align-items: center;
    
}
form .campoForm .campoTexto{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.contact{
    display: flex;
    padding-bottom: 100px;
}
.cafeHelado{
    background-color:#ecb03f;
    display: flex;   
    font-style: italic;
    font-size: 2rem; 
    justify-content: space-around;
    
}
.imgReceta{
    display: flex;
    justify-content: flex-end;
    width: 450px;
    margin: auto;
    
}
.cafeHelado h2{
    padding-left: 20px;
    font-size: 2rem;
    font-style: italic;
    
}
.listaIngredientes{   
    align-items: center;
    margin-left: 50px;
    margin-right: 20px;
}
.subt{
   margin: 20px;
}
.cafeDom{
    background-color: #c28a22;
    display: flex;   
    font-style: italic;
    font-size: 1.8rem;        
}


.cafeDom h2{
    padding-left: 20px;
    padding-right: 80px;
    font-size: 2rem;
    font-style: italic;
}
.listaIngredientes{
    text-align:justify;
    justify-content: center;
}
.cafeCorretto{
    background-color:#ecb03f;
    display: flex;   
    font-style: italic;
    font-size: 1.8rem; 
    
    
}
.cafeCorretto h2{
    padding-left: 20px;
    padding-right: 130px;
    font-size: 2rem;
    font-style: italic;
}
.cafeCorretto img{
    margin-right: 0%;
}
.carousel{    
    width: 900px;
    justify-items: center;
}


.labelFoto{
    background-color: #312e2e;
    color:#ecb03f ;
    
}
.ofertas{
    display: flex;
    margin-top: 30px;
    background-color: rgb(214, 187, 129);
}
.ofertas img{
    margin: 20px;
    
}

.productoV img{
    width: 250px;
    border-style: double 2px brown;
    background-color: aliceblue;
}
.subtit{
    padding: 30px;
}
.grid-footer {
    height: 90%;
    align-self:flex-end;
}
/* ... (CSS existente) ... */

/* Media query para dispositivos móviles con una resolución máxima de 480px */
@media screen and (max-width: 480px) {
    .grid-container {            
        grid-template-areas: 
            "header"
            "main"
            "aside"
            "footer";  /* Cambiamos el orden para que el aside aparezca arriba del footer */      
        grid-template-rows: .3fr 3fr auto auto; /* Reducimos la altura del header para dar más espacio al aside */
        grid-template-columns: 1fr; /* Ahora solo tenemos una columna */
    }

    /* Ajustar el tamaño de la imagen del carrusel en dispositivos móviles */
    .carrusel-container img {
        width: 100px;
    }

    /* Ajustar el ancho del carrusel en dispositivos móviles */
    .carousel {
        width: 300px;
    }

    /* Ajustar el tamaño de fuente en dispositivos móviles */
    .subtitulo {
        font-size: 2rem;
    }

    .h4 {
        font-size: 1.5rem;
    }

    .productoV img {
        width: 120px; /* Reducir el tamaño de las imágenes en el div ofertas */
        border-style: double 2px brown;
        background-color: aliceblue;
    }

    /* Ajustar el tamaño de fuente en el header para dispositivos móviles */
    header h1 {
        font-size: 2rem;
        padding: 5px;    
    }

    header h2 {
        font-size: 1.5rem;
        padding: 5px;
    }

    .navbar-list {
        flex-direction: column;            
    }

    .navbar-list li {
        margin: 0;
        padding: 10px;
        font-size: 1rem;
    }

    .navbar-list li a {
        margin: 5px;
        padding: 1rem;
        font-size: 1rem;
    }
    
    /* Ajustar el tamaño de la imagen del logo en el header para dispositivos móviles */
    header img {
        width: 80px;
    }

    /* Alinear elementos del header hacia la izquierda en dispositivos móviles */
    header {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    /* Ajustar la frase "Recomendados esta semana" hacia la izquierda en dispositivos móviles */
    .subtitulo {
        text-align: left;
    }
    
    /* Alinear el footer hacia la izquierda en dispositivos móviles */
    .fondopie {
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Achicar la distancia entre el aside y el main en dispositivos móviles */
    .grid-aside {
        padding: 5px;
    }

    /* Alinear el aside hacia la izquierda en dispositivos móviles */
    .grid-aside {
        grid-column: 1;
    }
    .grid-footer {
        align-self: end;
    }
}
