*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4b4a32;
    background-image: url(../img/coffee-pattern.jpg);
    background-repeat: repeat;
    max-width: 100vw;    
}